@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#34e89e,#0f3443);

    --background: 165 52% 4.48%;
    --foreground: 165 8% 97.8%;

    --muted: 165 40% 16.8%;
    --muted-foreground: 165 8% 55.6%;

    --popover: 165 49% 7.280000000000001%;
    --popover-foreground: 165 8% 97.8%;

    --card: 165 49% 7.280000000000001%;
    --card-foreground: 165 8% 97.8%;

    --border: 165 40% 16.8%;
    --input: 165 40% 16.8%;

    --primary: 165 80% 56%;
    --primary-foreground: 165 8% 5.6000000000000005%;

    --secondary: 165 40% 16.8%;
    --secondary-foreground: 165 8% 97.8%;

    --accent: 165 40% 16.8%;
    --accent-foreground: 165 8% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 165 8% 97.8%;

    --ring: 165 80% 56%;

    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border scrollbar-thin scrollbar-thumb-accent scrollbar-track-background;
  }
  body {
    @apply bg-background text-foreground;
  }
}