{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "next"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "import/consistent-type-specifier-style": [
      "error",
      "prefer-top-level"
    ],
    "import/exports-last": "error",
    "import/first": "error",
    "import/group-exports": "error",
    "import/newline-after-import": "error",
    "import/no-commonjs": "error",
    "import/no-cycle": "error",
    "import/no-deprecated": "warn",
    "import/no-default-export": "error",
    "import/no-duplicates": "error",
    "import/no-empty-named-blocks": "error",
    "import/no-mutable-exports": "error",
    "import/no-restricted-paths": [
      "error",
      {
        "basePath": "./src",
        "zones": [
          // core
          {
            "target": "core",
            "from": "app/**/*"
          },
          {
            "target": "core",
            "from": "modules/**/*"
          },
          {
            "target": "core",
            "from": "layouts/**/*"
          },
          {
            "target": "core",
            "from": "shared/**/*"
          },
          // shared
          {
            "target": "shared",
            "from": "app/**/*"
          },
          {
            "target": "shared",
            "from": "modules/**/*"
          },
          {
            "target": "shared",
            "from": "layouts/**/*"
          },
          {
            "target": "shared",
            "from": "containers/**/*"
          },
          {
            "target": "shared",
            "from": "components/**/*"
          },
          // components
          {
            "target": "components",
            "from": "app/**/*"
          },
          {
            "target": "components",
            "from": "modules/**/*"
          },
          {
            "target": "components",
            "from": "layouts/**/*"
          },
          {
            "target": "components",
            "from": "containers/**/*"
          },
          // containers
          {
            "target": "containers",
            "from": "app/**/*"
          },
          {
            "target": "containers",
            "from": "modules/**/*"
          },
          {
            "target": "containers",
            "from": "layouts/**/*"
          },
          // layouts
          {
            "target": "layout",
            "from": "app/**/*"
          },
          {
            "target": "layout",
            "from": "modules/**/*"
          },
          // modules
          {
            "target": "modules",
            "from": "app/**/*"
          }
        ]
      }
    ],
    "import/no-self-import": "error",
    "import/no-unused-modules": [
      "error"
    ],
    "import/no-unassigned-import": [
      "error",
      {
        "allow": [
          "**/*.css"
        ]
      }
    ],
    "import/no-useless-path-segments": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": [
          "external",
          "internal",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "group": "parent",
            "pattern": "@sw-wiki/**",
            "position": "before"
          }
        ]
      }
    ],
    "@next/next/no-img-element": "off",
    "react/display-name": "off"
  },
  "ignorePatterns": [
    "node_modules",
    ".next",
    "generated",
    "public"
  ],
  "overrides": [
    {
      "files": [
        "src/**/*.test.*"
      ],
      "extends": [
        "plugin:jest-dom/recommended",
        "plugin:testing-library/react"
      ]
    },
    {
      "files": [
        "src/app/**/*",
        "./*.config.*",
        "./*.setup.*"
      ],
      "rules": {
        "import/no-unused-modules": "off",
        "import/no-default-export": "off",
        "import/no-unassigned-import": "off"
      }
    },
    {
      "files": [
        "src/**/index.ts"
      ],
      "rules": {
        "import/no-unused-modules": "off"
      }
    }
  ]
}